@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
  width: 100%;
  overflow-x: hidden;
  color: white;
  background-color: #232323;
}

h1 {
  margin: 0px;
}

#home-page, #games-page, #proxies-page, #contact-page, #applications-page {
  background-color: #232323;
  color: white;
  padding: 20px;
  align-items: center;
}

#error-message, #error-message-2 {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, #878787, #878787, #767676, #333333, #333333, #2a2a2a, #2a2a2a, #222222, #222222);
  padding: 10px;
  width: 100%;
}

@media (width <= 800px) {
  .navbar {
    background-image: linear-gradient(to right, #333333, #333332);
  }
  .navbar a {
    font-size: 13px;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateX(25px);
  }
  #logo {
    margin-right: 50px;
    transform: translateX(-20px);
  }

}

@media (width <= 550px) {
  #logo {
    display: none;
  }
}

#logo {
  margin-left: calc(4vw);
  margin-right: calc(60vw - 400px)
}

#logo:hover {
  cursor: pointer;
}

.navbar a {
  margin-left: calc(2vw);
  margin-right: calc(2vw);
  text-decoration: none;
  color: #565656;
  font-weight: 750;
  font-size: 15px;
}

.navbar a:hover {
  cursor: pointer;
  color: #ababab;
}

.big-title {
  text-align: center;
  font-size: clamp(50px, 40px + 10vw, 150px);
  margin-top: 80px;
  margin-bottom:  20px;
}

.centered-box {
  padding-bottom: 30px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 90vw;
  border: 5px solid white;
  border-radius: 50px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  box-shadow: -2px 2px 6px #444444;
}

.box-text {
  text-align: center;
  font-size: 17px;
}

.box-link {
  font-size: 17px;
  color:white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}

.box-link:hover {
  text-decoration: underline;
  cursor: pointer;
  box-shadow: 0px 0px 2px white;
  font-size: 17.5px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 0 1 150px;
  gap: 10px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.box-title {
  margin: 20px;
  padding-left: 20px;
  font-size: 25px;
  transform: translateX(-15px);
}

.game-box {
  border: 3px solid #bcbcbc;
  border-radius: 20px;
  height: 170px;
  width: 150px;
  padding: 10px;
  text-align: center;
  background-color: #353535;
  box-shadow: -2px 2px 5px black;
}

.game-box:hover {
  cursor: pointer;
  box-shadow: -4px 4px 5px black;
  transform: translate(2px, -2px);
  border: 3px solid #dedede;
}

.game-box img {
  width: 140px;
  height: 150px;
  border-radius: 10px;
}

.game-box p {
  font-size: 15px;
  margin: 5px;
  margin-top: 10px;
}

.input-box {
  padding: 10px 12px;
  font-size: 16px;
  width: 400px;
  max-width: 90vw;
  border: 2px solid #aaaaaa;
  border-radius: 6px;
  transition: border-color 0.2s;
  color: white;
  background-color: #333333;
  margin: 15px;
  margin-right: 25px;
}

.input-box::placeholder {
  color: #cccccc;
}

.input-box:focus {
  outline: none;
  box-shadow: 0px 0px 5px white;
}

.submit-button {
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 6px;
  background-color: #444444;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover {
  background-color: #666666;
  box-shadow: 0px 0px 4px white;
}

#contact-page .box {
  flex-direction: column;
  align-items: stretch;
}

.footer-link {
  text-decoration: underline;
  color: white;
  font-size: 12px;
}

.footer-link:hover {
  font-size: 13px;
  text-shadow: 0px 0px 2px white;
}



body.light-mode {
  background-color: #f4f4f4;
  color: #111111;
}

body.light-mode #home-page,
body.light-mode #games-page,
body.light-mode #proxies-page,
body.light-mode #contact-page,
body.light-mode #applications-page {
  background-color: #ffffff;
  color: #111111;
}

body.light-mode .navbar {
  background-image: linear-gradient(to right, #e0e0e0, #d6d6d6);
}

body.light-mode .navbar a {
  color: #222222;
}

body.light-mode .navbar a:hover {
  color: #000000;
}

body.light-mode .centered-box {
  border: 5px solid #222222;
  box-shadow: -2px 2px 6px #cccccc;
}

body.light-mode .game-box {
  background-color: #e9e9e9;
  border: 3px solid #999999;
  box-shadow: -2px 2px 5px #cccccc;
}

body.light-mode .input-box {
  background-color: #ffffff;
  color: #111111;
  border: 2px solid #777777;
}

body.light-mode .submit-button {
  background-color: #dddddd;
  color: #111111;
}

body.light-mode .submit-button:hover {
  background-color: #cccccc;
}

body.light-mode .box-link, body.light-mode .footer-link {
  color: #111111;
  border-color: #111111;
}